﻿<!-- Copy script below from <iframe> to </iframe> and paste into editor of website. 
	And rename src value (src='...') to hosted url of this app (Colundi values hunter)
    Read more: http://www.spreadsheetconverter.com/import-excel-iframe/ 
-->
<iframe src='Colundi values hunter.htm' width='706' height='300' border='0' frameborder='0' >
    <p>Your browser does not support iframes.</p>
</iframe>